.contact {
    &__wrapper {
        height: 400px;
        width: 100%;
        opacity: .4;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__map, &__form {
        height: 100%;
        width: 47%;
    }
  
}

@media (max-width: 768px) {
    .contact {
        &__wrapper {
            flex-direction: column;
        }
        &__map, &__form {
            margin-bottom: 20px;
            width: 100%;
        }
    }
    
}