
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
   
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    
}


@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 63%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
}