.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    right: 30px;
    top: 30px;
    width: 36px;
    height: 21px;
    cursor: pointer;

    span {
        width: 30px;
        height: 3px;
        background-color: $main-color;
    }

    span.long {
        width: 36px;
    }

}
.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ;
    &.active {
            left: 0;
            opacity: 1;
            visibility: visible;
    }

    &__block {
        position: relative;
        width: 345px;
        background-color: #2d2e31;
        height: 100%;
        padding-top: 150px;
        padding-left: 75px;
        // left: -100%;
        transition: all 0.6s;
        z-index: 10;
    }
    &__list{
        list-style-type: none;
    }
    &__link {
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        a {
            color: white;
            &:hover {
                text-decoration: none;
            }
        }
    }

    &__social {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        padding: 15px;
        svg {
            path {
             fill: white;
            }
         }
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0.75;
    }
    &__close {
       position: absolute;
       top: 25px;
       right: 25px; 
       cursor: pointer;
       svg {
        path {
         fill: white;
        }
     }
    }
}

