.promo {
    min-height: 100vh;
    background: url('../img/main_bg.jpg') no-repeat 50%/cover;
    padding-top: 205px;
    
    &__link {
        background-color: $main-color;
        color: #f9f8f5;
        display: block;
        text-align: center;
        width: 150px;
        height: 50px;
        padding: 15px;
        margin-top: 30px;
        font-size: 14px;
        line-height: 21px;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            font-size: 18px;
            color: #ffffff;
        }
    }
    
}


@media (max-width: 1200px) {
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;
       
    }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    
    .promo {
        background: url('../img/main_bg_s.jpg') no-repeat 50%/cover;
        .title {
            &_fz48 {
            font-size: 40px;
        }
    }
    }
   

}


@media (max-width: 576px) {
    .promo {
        background: url('../img/main_bg_s.jpg') no-repeat 63%/cover;
        .title {
            &_fz48 {
            font-size: 20px;
        }
    }
}
}